a {
    color: #000 !important;
}

body {
    height: 100vh !important;
    /* position: relative; */
}

button {
    border-radius: 0 !important;
}

button:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

header {
    padding: 2.5rem 3rem;
    background: transparent !important;
}

.navbar-brand {
    order: 2;
    margin: 0 auto !important;
    font-family: 'Gambetta', serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding-right: 6rem;
}

.navbar-nav {
    order: 1;
}

.nav-link {
    margin: 0 0.75rem;
    font-family: 'Gambetta', serif;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .35s;
}

.link-active::after {
    content: '' !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background: #000 !important;
}

.offlink-active::after {
    content: '' !important;
    display: block !important;
    width: 100% !important;
    height: 1px !important;
    background: #000 !important;
}

.nav-link:hover::after {
    width: 100%;
}

.icons {
    order: 3;
}

.icons button {
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: #000;
    margin-left: 1rem;
}


header>button {
    font-size: 28px;
    background-color: transparent;
    border: none;
}

.offcanvas-header>button {
    background-color: transparent;
    border: none;
}

.offcanvas-body .offcanvas-nav {
    display: block;
    text-align: center;
}

.offcanvas-body .offcanvas-nav .nav-item {
    width: fit-content;
    margin: 0 auto !important;
}



.home-about-container {
    margin: 5rem 8rem;
    order: 2;
}

.home-about-container>div {
    gap: 3rem;
}

.home-abt-body-left {
    width: 50%;
}

.home-abt-body-left img {
    width: 100%;
}

.home-abt-body-right {
    width: 40%;
}

.home-abt-body-right .right-head {
    font-size: 16px;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    font-weight: 400;
}

.home-abt-body-right .right-title {
    font-family: 'Gambetta', serif;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home-abt-body-right .right-body {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.home-abt-body-right a {
    width: 40%;
}

.home-abt-body-right button {
    padding: 1.5rem 2rem;
}


.home-gallery-container {
    margin: 2rem 2rem;
}

.hg-heading h5 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 8px;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.hg-heading h3 {
    font-family: 'Gambetta', serif;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 2rem;
}


/* Homepage Testimonials */
.testimonials-section {
    margin: 2rem 5rem;
    background-color: #000;
    color: #fff !important;
    height: 400px;
    text-align: center;
}

.testimonials-section .carousel {
    height: 100%;
}

.testimonials-section .carousel-inner {
    height: 100%;
}

.testimonials-section .carousel-item {
    height: auto;
    padding: 7.5rem;
}

.testimonials-section .carousel-item h3 {
    font-family: 'Gambetta', serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.testimonials-section .carousel-item h5 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 8px;
}


/* Homepage Services Section */
.services-home {
    margin: 4rem 3rem;
}

.service-inner {
    width: 100%;
    text-align: center;
}

.service-inner .service-head h5 {
    letter-spacing: 8px;
    font-size: 16px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    
}

.service-inner .service-head h3 {
    font-family: 'Gambetta', serif;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 2rem;
}

.service-inner .service-body {
    padding: 0 6rem;
}

.service-body .row .col-md-4 h3 {
    font-family: 'Gambetta', serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.service-body .row .col-md-4 h5 {
    color: #777777;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
}


/* Gallery Page */
.gallery-page-section {
    padding: 1rem 3rem;
}


/* Footer */
.footer-container {
    padding: 1rem 3rem;
}

.footer-container>div>h5 {
    color: #9e9e9e;
    font-size: 14px !important;
    margin: 0 1rem;
    font-weight: 400;
}

.footer-content-left {
    color: #9e9e9e;
    font-weight: 400;
    letter-spacing: 0em;
}

.footer-content-left i {
    color: #9e9e9e;
    font-size: 14px !important;
}

.footer-content-right {
    padding: 0 0.5rem;
}

.footer-content-right h5 {
    color: #9e9e9e;
    font-size: 14px !important;
}


.footer-content-right h5 a {
    color: #9e9e9e !important;
}




@media (max-width: 992px) {

    header {
        padding: 1rem 0.5rem;
    }

    .navbar-brand {
        order: 1;
        margin: 0 1rem !important;
        font-family: 'Gambetta', serif;
        font-size: 30px;
        letter-spacing: 1px;
        padding: 0;
    }

    .navbar-nav {
        display: none;
    }

    .icons {
        display: none;
    }

    .home-about-container {
        margin: 1rem 1.5rem;
    }

    .home-abt-body-left {
        width: 100%;
    }

    .home-abt-body-right {
        width: 100%;
    }

    .home-abt-body-right .right-head {
        font-size: 14px;
        letter-spacing: 8px;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }

    .home-abt-body-right .right-title {
        font-family: 'Gambetta', serif;
        font-size: 33px;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    .home-abt-body-right .right-body {
        color: #777777;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 1.5rem;
    }

    .home-abt-body-right a {
        width: 60%;
    }

    .home-abt-body-right button {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 768px) {
    .testimonials-section .carousel-item {
        height: auto;
        padding: 6.5rem;
    }

    .testimonials-section .carousel-item h3 {
        font-size: 30px;
    }

    .testimonials-section .carousel-item h5 {
        font-size: 16px;
    }

    .gallery-page-section {
        padding: 0.5rem 1.25rem;
    }

    .navbar-brand {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .home-gallery-container {
        margin: 2rem 1.5rem;
    }


    .testimonials-section {
        margin: 2rem 1.5rem;
        background-color: #000;
        color: #fff !important;
        height: 400px;
        text-align: center;
    }


    .testimonials-section .carousel-item {
        height: auto;
        padding: 6rem 3.5rem;
    }

    .testimonials-section .carousel-item h3 {
        font-family: 'Gambetta', serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    
    .testimonials-section .carousel-item h5 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 8px;
    }

    

    .service-inner .service-body {
        padding: 0 0;
    }

    .service-inner .service-head h3 {
        font-size: 30px;
    }



}