<!-- Footer -->
<footer class="footer-container w-100">
    <div
        class="d-flex flex-column flex-md-row justify-content-md-between justify-content-center align-items-center gap-3">
        <div class="footer-content-left d-flex align-items-center">
            <a href="#" class="text-dark"><i class="bi bi-twitter mx-2"></i></a>
            <a href="#" class="text-dark"><i class="bi bi-facebook mx-2"></i></a>
            <a href="#" class="text-dark"><i class="bi bi-share mx-2"></i></a>
        </div>
        <h5 class="me-md-auto">Copyright Text comes Here</h5>
        <div class="footer-content-right">
            <h5>
                Made with <a href="#" class="text-dark">Udee Space</a>
            </h5>
        </div>
    </div>
</footer>