<header class="d-flex justify-content-xl-between justify-content-start align-items-center">
    <div class="head-container">
        <div class="head-title-nav-wrapper">
            <nav>
                <ul class="navbar-nav flex-row d-none d-xl-flex">
                    <li class="nav-item">
                        <a href="index.html" class="nav-link link-active">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Gallery
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="gallery-1.html">Gallery 1x1</a></li>
                            <li><a class="dropdown-item" href="gallery-2.html">Gallery 2x2</a></li>
                            <li><a class="dropdown-item" href="gallery-3.html">Gallery 3x3</a></li>
                            <li><a class="dropdown-item" href="gallery-4.html">Gallery 4x4</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Video
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="video-1.html">Video 1x1</a></li>
                            <li><a class="dropdown-item" href="video-2.html">Video 2x2</a></li>
                            <li><a class="dropdown-item" href="video-3.html">Video 3x3</a></li>
                            <li><a class="dropdown-item" href="video-4.html">Video 4x4</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Collection
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="col-1.html">Collection 1x1</a></li>
                            <li><a class="dropdown-item" href="col-2.html">Collection 2x2</a></li>
                            <li><a class="dropdown-item" href="col-3.html">Collection 3x3</a></li>
                            <li><a class="dropdown-item" href="col-4.html">Collection 4x4</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="exhibit.html" class="nav-link">Exhibit</a>
                    </li>
                </ul>
            </nav>
            <div class="head-title">
                <div class="head-title-text">
                    <a href="index.html" class="navbar-brand">Ritu Ahuja</a>
                </div>
            </div>
        </div>
        <div class="head-social-link-wrapper d-none d-xl-flex">
            <div class="icons">
                <a href="#"><i class="bi bi-twitter mx-2 ms-5"></i></a>
                <a href="#"><i class="bi bi-facebook mx-2"></i></a>
                <a href="contact.html">
                    <button class="btn btn-dark">CONTACT</button>
                </a>
            </div>
        </div>
    </div>

    <button class="order-2 ms-auto d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
        <i class="bi bi-list"></i>
    </button>
</header>
<div class="offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header w-100 d-flex justify-content-end">
        <button type="button" class="p-4" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <ul class="navbar-nav offcanvas-nav justify-content-center align-items-center mt-5">
            <li class="nav-item">
                <a class="nav-link offlink-active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Gallery
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="gallery-1.html">Gallery 1x1</a></li>
                    <li><a class="dropdown-item" href="gallery-2.html">Gallery 2x2</a></li>
                    <li><a class="dropdown-item" href="gallery-3.html">Gallery 3x3</a></li>
                    <li><a class="dropdown-item" href="gallery-4.html">Gallery 4x4</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Video
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="video-1.html">Video 1x1</a></li>
                    <li><a class="dropdown-item" href="video-2.html">Video 2x2</a></li>
                    <li><a class="dropdown-item" href="video-3.html">Video 3x3</a></li>
                    <li><a class="dropdown-item" href="video-4.html">Video 4x4</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Collection
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="col-1.html">Collection 1x1</a></li>
                    <li><a class="dropdown-item" href="col-2.html">Collection 2x2</a></li>
                    <li><a class="dropdown-item" href="col-3.html">Collection 3x3</a></li>
                    <li><a class="dropdown-item" href="col-4.html">Collection 4x4</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="exhibit.html">Exhibit</a>
            </li>
        </ul>
        <div
            class="icons-offcanvas ms-2 d-flex justify-content-center align-items-center fixed-bottom mb-4 flex-wrap">
            <div class="text-center w-100">
                <a href="#" class="text-dark"><i class="bi bi-facebook mx-2 fw-lighter"></i></a>
                <a href="#" class="text-dark"><i class="bi bi-instagram mx-2 fw-lighter"></i></a>
                <a href="#" class="text-dark"><i class="bi bi-share mx-2 fw-lighter"></i></a>
            </div>
        </div>
    </div>
</div>